"""
    julia> % Function name and typeless arguments

% Description including return type

# Signature

    % Full function signature

# Arguments

- % argument list

# Notes

- % extra information

# Examples

- % call syntax examples

"""
