"""
    % Function name and typeless arguments

% Description

# Signature

    % Function signature

# Arguments

- % argument list

# Notes

- % extra information

# Examples

- % call syntax examples

"""
